<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="previousPath" value="C:\\TEMP\\peenjees.TXT"/>
    <add key="2ndPath" value="false"/>
    <add key="3rdPath" value="false"/>
    <add key="4thPath" value="false"/>
    <add key="5thPath" value="false"/>
    <add key="6thPath" value="false"/>

    <add key="windowWidth" value="525"/>
    <add key="windowHeight" value="350"/>
    <add key="windowLocationX" value="200"/>
    <add key="windowLocationY" value="200"/>
  

  </appSettings>
</configuration>